@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
}

header, nav, article, footer{
    border: 1px solid black;
    padding: 5px;
}

main{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sztoriTarolo{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
    text-align: right;
}

.sztoriTarolo:nth-child(even){
    flex-direction: row-reverse;
    text-align: left;
}

.fotarolo{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}


