@charset "utf-8";

main, header, nav, article, footer, .jobb, .bal {
    border: 1px solid gray;
    padding: 10px;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.bal {
    align-self: flex-start;

}

.jobb {
    align-self: center;
}


@media screen and (max-width: 600px) {
    section {
        flex-flow: column wrap;
    }
}